---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
import Experience from "../components/Experience.astro";
import AboutMe from "../components/AboutMe.astro";
import Contact from "../components/Contact.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Kevin Duran | Portafolio">
  <Header />
  <main class="px-4 space-y-16 md:space-y-36">
    <Hero />

    <Projects />

    <AboutMe />

    <Experience />

    <Contact />
  </main>
  <Footer />
</Layout>
