---
// src/pages/projects/index.astro
import BentoCard from "@/components/BentoCard.astro";
import { getProjects } from "@/data/projects";
import ProjectsIcon from "@/components/icons/ProjectsIcon.astro";

const projects = getProjects();
---

<section
  id="projects"
  class="scroll-m-20 max-w-screen-xl mx-auto md:w-5/6 lg:w-4/6 px-3 md:px-0 pt-10"
>
  <h2
    class="w-full justify-center flex items-center gap-x-3 text-4xl font-semibold text-center my-6 md:my-12 text-white"
  >
    <ProjectsIcon />
    Proyectos
  </h2>

  <div
    class="flex flex-col gap-3 sm:grid sm:grid-cols-2 md:grid-cols-4 sm:grid-rows-3 sm:auto-rows-[160px] md:auto-rows-[200px]"
  >
    <div
      class="sm:col-span-2 sm:row-span-2 flex flex-col justify-center items-center bg-gradient-to-br from-fuchsia-700/80 to-fuchsia-400/80 rounded-xl shadow-xl p-4 sm:p-8 text-white"
    >
      <h3 class="text-2xl sm:text-3xl md:text-4xl font-bold mb-2 text-center">
        ¡Bienvenido!
      </h3>
      <p class="text-base sm:text-lg md:text-xl text-center">
        Explora mis mejores proyectos destacados y conoce más sobre mi trabajo.
      </p>
    </div>

    {
      projects.slice(0, 5).map((project, idx) => (
        <BentoCard
          project={{
            id: project.id,
            title: project.title,
            description: project.description,
            shortDescription: project.description.slice(0, 80) + "...",
            imageUrl: project.images[0],
          }}
          className={
            idx === 0
              ? "col-span-1 sm:col-span-2 row-span-1"
              : idx === 3 || idx === 4
                ? "col-span-1 sm:col-span-2 row-span-1"
                : "col-span-1 row-span-1"
          }
        />
      ))
    }
  </div>
</section>
