---
import GraduationCap from "@/components/icons/GraduationCap.astro";
import { experience } from "@/data/experience";
import ExperienceItem from "@/components/ExperienceItem.astro";
import ExperienceIcon from "@/components/icons/ExperienceIcon.astro";
import SectionLayout from "@/layouts/SectionLayout.astro";
---

<SectionLayout id="experience" class="mt-8">
  <!-- TÃTULO -->
  <h2
    id="exp-title"
    class="w-full justify-center flex items-center gap-x-3 text-4xl font-semibold text-center my-6 md:my-12 text-white"
    data-aos="fade-left"
    data-aos-delay="150"
    data-aos-duration="900"
    data-aos-once="true"
  >
    <ExperienceIcon />
    Experiencia
  </h2>

  <!-- LISTA -->
  <div class="space-y-6">
    {
      experience.map((exp, idx) => (
        <div
          id={`exp-item-${idx}`}
          data-aos={idx % 2 ? "fade-left" : "fade-right"}
          data-aos-delay={300 + idx * 180}
          data-aos-duration="900"
          data-aos-once="true"
          class="will-change-transform"
          style={`--aos-delay: ${300 + idx * 180}ms`}
        >
          <ExperienceItem
            {...exp}
            icon={GraduationCap}
            isLast={idx === experience.length - 1}
          />
        </div>
      ))
    }
  </div>
</SectionLayout>
