---
import GraduationCap from "@/components/icons/GraduationCap.astro";
import { experience } from "@/data/experience";
import ExperienceItem from "@/components/ExperienceItem.astro";
import ExperienceIcon from "@/components/icons/ExperienceIcon.astro";
import SectionLayout from "@/layouts/SectionLayout.astro";
import AnimatedText from "@/components/animations/AnimatedText.astro";
import AnimationDiv from "@/components/animations/AnimationDiv.astro";
---

<SectionLayout id="experience" class="mt-8">
  <AnimationDiv
    id="exp-title"
    direction="right"
    delay={0}
    duration={2}
    thershold={3.0}
  >
    <h2
      class="w-full justify-center flex items-center gap-x-3 text-4xl font-semibold text-center my-6 md:my-12 text-white"
    >
      <ExperienceIcon />
      Experiencia
    </h2>
  </AnimationDiv>

  <div class="mt-12">
    {
      experience
        .sort((a, b) => a.order - b.order)
        .map((exp, idx) => (
          <AnimationDiv
            id={`exp-li-${idx}`}
            delay={0.5}
            direction={idx % 2 ? "left" : "right"}
            duration={0.8}
            thershold={36}
          >
            <ExperienceItem
              {...exp}
              icon={GraduationCap}
              isLast={idx === experience.length - 1}
            />
          </AnimationDiv>
        ))
    }
  </div>
</SectionLayout>
