---
import GraduationCap from "@/components/icons/GraduationCap.astro";
import { experience } from "@/data/experience";
import ExperienceItem from "@/components/ExperienceItem.astro";
import ExperienceIcon from "@/components/icons/ExperienceIcon.astro";
import SectionLayout from "@/layouts/SectionLayout.astro";
---

<SectionLayout id="experience" class="mt-8">
  <h2
    class="w-full flex justify-center items-center gap-x-3 text-4xl font-semibold my-6 text-center"
  >
    <ExperienceIcon />
    Experiencia
  </h2>

  <div>
    {
      experience
        .sort((a, b) => a.order - b.order)
        .map((exp, idx) => (
          <ExperienceItem
            {...exp}
            icon={GraduationCap}
            isLast={idx === experience.length - 1}
          />
        ))
    }
  </div>
</SectionLayout>
