---
// Componente Hero

import Github from "@/components/icons/Github.astro";
import LinkedIn from "@/components/icons/LinkedIn.astro";
import Mail from "@/components/icons/Gmail.astro";
import { Image } from "astro:assets";
import SectionLayout from "@/layouts/SectionLayout.astro";
import AnimationDiv from "@/components/animations/AnimationDiv.astro";

const Personal_Information = {
  name: "Kevin Durán",
  linkedin:
    "https://www.linkedin.com/in/kevin-dur%C3%A1n-mart%C3%ADnez-1b6868151/",
  email: "kduran.091001@gmail.com",
  titles: [
    "Ingeniero de Software",
    "Desarrollador Full Stack",
    "Apasionado por la tecnología",
  ],
};
---

<SectionLayout id="hero" class="flex md:min-h-screen mt-16 md:mt-auto">
  <div
    class="flex flex-col gap-0 lg:gap-5 xl:gap-0 lg:flex-row items-center justify-center px-3 md:px-0"
  >
    <!-- Imagen -->
    <div class="w-3/4 lg:w-1/2 lg:order-last order-first grid place-items-end">
      <AnimationDiv delay={0.8} duration={1.5} id="hero-img">
        <Image
          src="/kevinduran-hero-neo.webp"
          alt="Kevin Durán"
          width={398}
          height={398}
          class="object-cover rounded-full w-full h-full"
        />
      </AnimationDiv>
    </div>

    <!-- Texto -->
    <div class="lg:w-1/2 lg:order-first order-last">
      <AnimationDiv
        direction="left"
        duration={2}
        delay={1}
        id="hero-text-content"
      >
        <div class="text-center md:text-center lg:text-left w-full">
          <p class="mb-3 text-3xl leading-none text-fuchsia-600">Hola soy</p>
          <h1
            class="mb-4 text-4xl font-title font-black leading-none md:text-6xl lg:text-5xl 2xl:text-7xl text-white"
          >
            {Personal_Information.name}
          </h1>
        
          <div class="tex-center w-full md:mx-0">
            <div
              class="mb-4 mt-2 lg:mt-0 text-2xl md:text-3xl lg:text-4xl text-fuchsia-600 font-semibold overflow-hidden"
            >
              {Personal_Information.titles[0]}
            </div>
          </div>
          <p
            class="mb-6 text-lg font-normal text-grisclaro2 md:text-base 2xl:text-xl [text-wrap:balance]"
          >
            Apasionado por los desafíos que impulsan mi crecimiento.
            Comprometido con el desarrollo de soluciones escalables y de alta
            calidad.
          </p>
        </div>
        <div
          class="flex flex-row mt-6 text-sm items-center gap-2 md:gap-3
        justify-center lg:justify-start"
        >
          <a
            href="https://github.com/Kevinduran09"
            class="bg-gray-800 hover:bg-gray-700 flex items-center gap-2 px-2 md:px-4 py-2 rounded transition-colors"
          >
            <Github class="size-5 md:size-6" />
            <span>GitHub</span>
          </a>
          <a
            href={Personal_Information.linkedin}
            class="bg-gray-800 hover:bg-gray-700 flex items-center gap-2 px-2 md:px-4 py-2 rounded transition-colors"
          >
            <LinkedIn class="size-5 md:size-6" />
            <span>LinkedIn</span>
          </a>
          <a
            href={`mailto:${Personal_Information.email}`}
            class="bg-fuchsia-700 hover:bg-fuchsia-600 flex items-center gap-2 px-2 md:px-4 py-2 rounded transition-colors"
          >
            <span>Contactame</span>
            <Mail class="size-5 md:size-6" />
          </a>
        </div>
      </AnimationDiv>
    </div>
  </div>


</SectionLayout>
